<!doctype html>
<html lang="en">
  <head>
    <title>Go stalker!</title>
    <link rel="stylesheet" href="public/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="public/stylesheets/application.css" />
  </head>
  <body>
    <div class="container-fluid">
      <header class="row js-navigation-bar">
        <div class="col-xs-4">
          Go Stalker
        </div>
        <a href="javascript:void(0)" class="js-open-sign-up-modal js-not-authenticated">Sign up</a>
        <a href="javascript:void(0)" class="js-open-sign-in-modal js-not-authenticated">Sign in</a>
        <a href="/dashbaord" class="js-authenticated" style="display: none;">Dashboard</a>
        <a href="/sessions" class="js-authenticated js-sign-out-link" style="display: none;">Sign out</a>
      </header>
      {{ yield }}
      <footer class="row">
        <div class="col-xs-4">
          Footer
        </div>
      </footer>
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="public/javascripts/application.js"></script>
  </body>
</html>
