<!doctype html>
<html lang="en">
  <head>
    <title>Go stalker!</title>
    <link rel="stylesheet" href="public/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="public/stylesheets/application.css" />
  </head>
  <body>
    <div class="container-fluid">
      <header class="row">
        <div class="col-xs-4">
          Go Stalker
        </div>
        <a href="javascript:void(0)" class="js-open-sign-up-modal">Sign up</a>
        <a href="javascript:void(0)" class="js-open-sign-in-modal">Sign in</a>
      </header>
      {{ yield }}
      <footer class="row">
        <div class="col-xs-4">
          Footer
        </div>
      </footer>
    </div>

    <div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Sign in into your account</h4>
          </div>
          <form action="/sessions">
            <div class="modal-body">
              <div class="alert alert-danger" role="alert" style="display:none;"></div>

              <div class="form-group">
                <label for="user_email">Email</label>
                <input id="user_email" type="email" name="email" class="form-control" />
              </div>

              <div class="form-group">
                <label for="user_password">Password</label>
                <input id="user_password" type="password" name="password" class="form-control" />
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <input type="submit" class="btn btn-primary" value="Sign in" />
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Sign up now</h4>
          </div>
          <form action="/registrations">
            <div class="modal-body">
              <div class="alert alert-danger" role="alert" style="display:none;"></div>

              <div class="form-group">
                <label for="user_email">Email</label>
                <input id="user_email" type="email" name="email" class="form-control" />
              </div>

              <div class="form-group">
                <label for="user_password">Password</label>
                <input id="user_password" type="password" name="password" class="form-control" />
              </div>

              <div class="form-group">
                <label for="user_password_confirmation">Password confirmation</label>
                <input id="user_password_confirmation" type="password" name="password_confirmation" class="form-control" />
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <input type="submit" class="btn btn-primary" value="Sign up" />
            </div>
          </form>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="public/javascripts/application.js"></script>
  </body>
</html>
